click
colorama
contourpy
cycler
Flask
fonttools
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
waitress
Werkzeug
zipp